body{

font-family:sans-serif;
background:#0f172a;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

background:#1e293b;
padding:30px;
border-radius:10px;
width:300px;

}

input{

width:70%;
padding:10px;

}

button{

padding:10px;

}

li{

margin-top:10px;
cursor:pointer;

}
.btn {
  display: inline-block;
  padding: 12px 20px;
  margin: 10px 10px 0 0;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

/* Botón principal */
.btn {
  background: #00f7ff;
  color: #000;
}

/* Hover */
.btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/* Botón LinkedIn */
.linkedin {
  background: #0a66c2;
  color: #fff;
}
.linkedin {
  background: linear-gradient(135deg, #0a66c2, #004182);
  color: #fff;
  box-shadow: 0 0 10px rgba(10, 102, 194, 0.5);
}